body {
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: small;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.2em;
}

#guarantee {
	background: #80cccc url(images/background.gif) no-repeat top left;
	border: 2px white dashed;
	line-height: 120%;
	padding: 10px 10px 10px 80px;
	margin: 30px 20px;
	width: 30%;
	font-style: italic;
}

.main {	
	
}

.menu {
	
	border: 1px solid cadetblue;
	width: 300px;
	text-align: center;
	padding: 1.5em;
	margin: 1em;
	float: left;
}

.menu h2 {
	
	font-weight: bold;
}

.menu h3 {
	
	color: red;
}

.song {
	font-style: italic;
}
.artist {
	font-style: italic;
	background-color: lightgray;
	width: 1.5em;
	margin-left: 5px;
}