ul {
    padding-left: 0;
    min-height: 500px;
    border: thin solid white;
    border-radius: 0.2em;

}

ul li {
    list-style: none;
    text-align: left;
    background: #eee;
    display: block;
    border: thin solid black;

}

form {
    text-align: center;

}
