.GrayBox {
	
	
}

.RedBox {
	
	background-color: red;
	color: #FFF;
	height: 300px;
	width: 300px;
	position: relative;
	top: 50px;
	left: 50px;
}

.BlueBox {
	
	background-color: blue;
	color: #FFF;
	height: 300px;
	width: 300px;
}