h2 {
            
    color: yellowgreen;
}

.p_green {
    
    color: green;
}
.p_Raspberry {
    
    color: red;
}
.p_Blueberry {
    
    color: purple;
}
.p_Cranberry {
    
    color: lightblue;
}