
#mynav {
	list-style: none;
	padding-left: 0;
	margin-left: 0;

}

#mynav a {
	text-decoration: none;
	color: black;
}

#mynav li:hover {
	background-image: -webkit-linear-gradient(top, blue, white 10%, yellow 20%, green);
}
#mynav li {
	border: 1px dashed grey;
	border-left: 5px solid black;
	width: 8em;
}

.pic {
	width: 300px;
	height: 200px;
}

.filtered {
	-webkit-filter: saturate(3);
}

#pic1 {
	
}

#pic2 {
	-webkit-filter: saturate(7) blur(5px);
}

.transforme {
	transform: rotate(10deg)
}

.origin {
	transform-origin: 0 0;
}

.duration {
	transition-property: transform;
	transition-duration: 1s;
}

.duration:hover {
	transform: rotate(360deg);
}

.scale {
	transition-property: transform;
	transition-duration: 1s;
}

.scale:hover {
	transform: scale(-1, 1);
}

.translate {
	transition-property: transform;
	transition-duration: 1s;
}

.translate:hover {
	transform: translate(100px, 0);
}

.skew {
	transition-property: transform;
	transition-duration: 1s;
}

.skew:hover {
	transform: skew(30deg, 0);
}