.Question {
        margin: 5px;
        padding: 2px;
}

.button {
        margin-left: 10px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
        -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
        box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
        border-bottom-color: #333;
        border: 1px solid #61c4ea;
        background-color: #7cceee;
        color: #333;
        font-family: 'Verdana', Arial, sans-serif;
        font-size: 5px;
        text-shadow: #b2e2f5 0 1px 0;
        padding: 0px 1px 0px 1px;
}

.button:hover {
        background-color: #333;
        color: white;
        border: 1px solid #333;
}

#playlist {
        
        margin-top: 20px;
        padding: 5px;
}